.projects-view{
    width: 20%;
    border-right: 1px solid black;
    height: 90vh;
    padding: 10px;
}

.projects-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.plus-icon{
    cursor: pointer;
}

.projects-list{
    list-style: none;
    width: 80%;
    margin: 0 auto;
    margin-top:20px;
}

.projects-list li{
    margin-bottom:20px;
    font-size: 1.2rem;
}

.active{
    font-weight: bold;
}

.create-form{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.create-form input{
    padding: 5px;
    width: 85%;
    font-size: .7rem;
    border-right: 0;
}

.create-form button{
    padding: 5px;
    background: rgba(0,0,0,0);
    border-left:0;
}